.item-form {
  color: #27f;
  display: inline-block;
  background-color: #73ebae;
  margin-top: 50px;
  padding: 10px;
  border:  #27f 2px solid;
  .input-item {
    text-align: right;
    input {
      width: 300px;
    }
    button {
      margin-top: 20px;
    }
    label {
      padding: 20px;
    }
  }
}
